<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillowcase.normal.tools.only.sign">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--asus permisstion-->
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
